In [15]:
# Question 21

class Point:
    def __init__(self, x=0, y=0):
        self.x, self.y = x, y

class Segment:
    def __init__(self, p1, p2):
        self.p1, self.p2 = p1, p2

    def Length(self):
        x1, y1 = self.p1.x, self.p1.y
        x2, y2 = self.p2.x, self.p2.y
        return ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5

    def Slope(self):
        x1, y1 = self.p1.x, self.p1.y
        x2, y2 = self.p2.x, self.p2.y
        return None if x2 - x1 == 0 else (y2 - y1) / (x2 - x1)


p1, p2 = Point(3, 4), Point(6, 7)
s = Segment(p1, p2)

print(s.Length())  
print(s.Slope())

4.242640687119285
1.0

In [1]:
# Question 22

#import libraries 

import pandas as pd
import sqlite3

In [2]:
#install the ipython-sql library 
!pip install ipython-sql

Requirement already satisfied: ipython-sql in ./anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: backcall in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
#create a dataframe to import data for the tutorial

df= pd.DataFrame({'id': ['1','2','3','4'], 'recordDate': ['2015-01-01','2015-01-02','2015-01-03','2015-01-04'], 'temperature': ['10','25','20','30'] })
df

  id  recordDate temperature
0  1  2015-01-01          10
1  2  2015-01-02          25
2  3  2015-01-03          20
3  4  2015-01-04          30

In [4]:
#we will sqlite3 library & create a connection 

cnn = sqlite3.connect('juyter_sql_tutorial.db')

In [10]:
df.to_sql('u', cnn)

4

In [6]:
#Load the sql module to ipython
%load_ext sql

In [7]:
%sql sqlite:///jupyter_sql_tutorial.db

In [16]:
%%sql

SELECT
    w1.id    # First tempertaure recorded
FROM
    Weather w1
WHERE
    w1.temperature > (
        SELECT w2.temperature
        FROM Weather w2
        WHERE w2.recordDate = DATE_SUB(w1.recordDate, INTERVAL 1 DAY)
    );

 * sqlite:///jupyter_sql_tutorial.db
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: SELECT
    w1.id    # First tempertaure recorded
FROM
    Weather w1
WHERE
    w1.temperature > (
        SELECT w2.temperature
        FROM Weather w2
        WHERE w2.recordDate = DATE_SUB(w1.recordDate, INTERVAL 1 DAY)
    );]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [14]:
# Question 23

def tough(indent, num):
    if(num > 0):
        f(indent, num//2);               # print previous pattern
        print(" "*indent + "*"*num);     # print middle row of *'s
        f(indent + 1, num//2);           # print previous pattern indented
        
        
tough(0,2)

*
**
 *